@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    padding: 8px 48px;
    display: flex;
    justify-content: space-between;
}

.hero {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px;
    text-align: right;
}

.herop {
    display: flex;
    flex-basis: 400px;
    align-items: center;
    flex-direction: column;
    margin-right: 90px;
}

.hero1 p {
    font-family: Roboto, sans-serif;
    opacity: 0.8;
}

.heroimage img{
    display: flex;
    width: 500px;
    height: 250px;
}

h1 {
    color: #f9faf8;
    font-family: Roboto, sans-serif;
    font-size: 48px;
    font-weight: bolder;
}

.hero button {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}

.left,
.right{
    display: flex;
    gap: 16px;
    align-items: center;
    margin: 48px, 24px;
}

.left {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}

.content {
    align-items: center;
    margin: 0;
    padding: 50px;
}

.content p {
    padding-bottom: 45px;
}

.content-box {
    display: flex;
    justify-content: center;
}

.ebox {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

.quote {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0px 200px;
    background-color: #e5e7eb;
    color: #1f2937;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote b {
    padding-bottom: 20px;
    padding-left: 10px;
    text-align: right;
}

.sign-up {
    background-color: #3882F6 ;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: none;
}

.sign {
    flex: 1;
}

.sign-left {
    text-align: left;
}

.sign-left p {
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}

.sign-left h3 {
    color: #fff;
    font-family: 'Roboto', arial;
    padding: 0;
    margin: 30px 0px 0px 50px;
}

.sign-right button {
    color: #fff;
    font-family: 'Roboto', arial;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px 25px;
    font-size: 15px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #fff;
    font-family: 'Roboto', arial;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
}